* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{}

body {
    background-image: url(./imgs/purple.gif);   /* purple or bitches_street */
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color:rgba(11, 11, 11, 0.966);
    color: rgb(255, 255, 255);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

li a:hover {
    border-bottom: 3px;
    border-color: rgb(108, 0, 109);
    color: rgb(159, 79, 160);
}

section {
    text-align: center;
}

.centre {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 1em;
}

.box {
    height: 39%;
    width: 35%;
    background-color: rgb(52, 60, 61);
    color: rgb(255, 255, 255);
    border-radius: 0.5em;
}

/* .container {
    display: inline;
    text-align: center;
} */

.circle-square {
    border-radius: 50%;
}

.correct-spaces {
    padding: 5px;
}

/* #title {
    display: inline;
    text-align: left;
    float: left;
} */

#info-box {}

#foto-yisus {
    max-height: 27%;
    max-width: 27%;
}